[user]
	email = alex.qs234@gmail.com
	name = Aleksander Kuś
[pull]
	rebase = false
[core]
	sshCommand = ssh -oHostKeyAlgorithms=+ssh-rsa
	editor = code -w
[includeif "gitdir:~/studia/"]
	path = ~/.gitconfig.work